#tambahVideo{

    float : right;
    background: #00FFAB;
    border:none;
    width: 170px;
    height: 55px;
    border-radius: 15px;
    position: relative;
    bottom:65px;
    right : 20px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s;
  
  
  }
  
  #tambahVideo:hover{
    transition: 0.5s;
    transform: scale(1.04);
    box-shadow: 5px 5px rgba(255, 55, 96,0.5);
  }
  
  #deleteVideo{
    background: 	#ff1e4c;
    border:none;
    color:white;
    position: relative;
    top:2.1px;
    width: 170px;
    height: 55px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s;
  }
  
  #deleteVideo:hover{
    transition: 0.5s;
    transform: scale(1.04);
    box-shadow: 5px 5px rgba(0, 255, 170, 0.736);
  }
  
  #editVideo{
    float: right;
    position: relative;
    bottom:65px;
    right : 30px;
  }